/* 文字超出两行隐藏 */
.textover2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 文字超出一行隐藏 */
.textover1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 强制换行 */
.break-word {
  word-break: break-all; /* 支持IE和chrome，FF不支持*/
  word-wrap: break-word; /* 以上三个浏览器均支持 */
}
